.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.button {
  cursor: pointer;
  margin: 0 0.7em 0.3em 0.7em;
  padding: 0.5em 1.2em;
  font-size: 1rem;
}

.buttonActive {
  background: #14f073;
}

.subHeading {
  text-align: center;
}

.questionnaire {
  font-size: 1.2rem;
  margin: 0;
  padding: 0 0.7em;
}

.choices {
  list-style-position: inside;
  list-style-type: upper-alpha;
  padding: 0.3em 1em;
}
