.app__navSubject {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.app__navSubject__subjBtnContainer {
  margin-bottom: 1.5em;
}

.app__main__navYear,
.app__main__navItems {
  display: flex;
  justify-content: center;
}

.app__main__navItems {
  margin: 0.7em 0;
}

.app__navSubject__subjBtnContainer__btn,
.app__main__navYear__btn,
.app__main__navItems__btn {
  cursor: pointer;
  margin: 0 0.7em;
  padding: 0.5em 1em;
  font-size: 1rem;
}

.app__navSubject__subjBtnContainer__btn--active {
  background: chocolate;
  color: #fff;
}

.app__main__items__subHeading {
  text-align: center;
}

.app__main__items__questionnaire {
  display: flex;
  flex-direction: column;
}

.app__main__items__questionnaire__question {
  font-size: 1.2rem;
  margin: 0;
}

.app__main__items__questionnaire__choices {
  padding: 0;
}

.choices {
  padding: 4em;
}
